---
layout: archive
title: "Awards"
permalink: /awards/
author_profile: true
---

{% include base_path %},


<ul>
  <li><strong>Holistic Science Prize</strong>, Oklahoma State University, College of Arts and Sciences — Doctoral Research Award, 2025 </li>
  <li><strong>John Odland Student Paper Award (Third Place) </strong>, Spatial Analysis and Modeling Specialty Group of the AAG, Detroit, Michigan, 2025 </li>
  <li><strong>AAG-GTU Travel Award </strong>, Awarded to support attendance at the AAG Annual Meeting, Detroit, Michigan, 2025 </li>
  <li><strong>
2024 NSF I-GUIDE Summer School Travel Award </strong>, at the University Corporation for Atmospheric Research (UCAR) campus in Boulder, Colorado., August 5-9, 2024 </li>
  <li><strong>Robert E. Norris Conference Travel Award </strong>, Department of Geography, Oklahoma State University, 2024 </li>
  <li><strong>Regional Scholarship Graduate Winner</strong>, South Central Arc Users Group (SCAUG), 2024 </li>
  <li><strong>1st place, Best Graduate Poster Award </strong>, 24th Southwest Division of AAG annual conference, 2023</li>
  <li><strong>1st Place, National Building Regulations Examination (Geomatics and Surveying), </strong>, ranked 1st out of 990 participants, Ministry of Road and Urban Development, Iran, March 2013.</li>
</ul>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

