---
layout: archive
title: "Awards"
permalink: /awards/
author_profile: true
---

{% include base_path %}

<ul>
  <li><strong>Robert E. Norris Conference Travel Award </strong>, Department of Geography, Oklahoma State University, 2024 </li>
  <li><strong>Regional Scholarship Graduate Winner</strong>, South Central Arc Users Group (SCAUG), 2024 </li>
  <li><strong>1st place Best Poster Award </strong>, 24th Southwest Division of AAG annual conference, 2023</li>
  <li><strong>1st Rank in Examination of "Office of the National Building Regulations", Geomatics and Surveying   field</strong>, Among 990 participants, Ministry of Road and Urban Development, 2013</li>
</ul>

{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

