---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<h2>Professional Experience</h2>

<ul>
  <li><strong>Scientific workflow management systems (WfMS)</strong>, Description, 2024-2025 </li>
  <li><strong>USDA Project</strong>, Description, 2022-2024 </li>
  <li><strong>GeoDataBase Administrator</strong>, Description, 2016-2021 </li>
  <li><strong>Network RTK-GNSS System Administrator</strong>, Description, 2016-2021 </li>
  <li><strong>Cadastarl Surveying</strong>, Isfahan Construction Engineering Org., 2016-2021 </li>
  
</ul>


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

