---
layout: archive
title: "Professional Experience"
permalink: /projects/
author_profile: true
---

{% include base_path %}


<h3>Graduate Research Assistant</h3>
<p>Oklahoma State University, Department of Geography, Jul 2022 - Now</p>
<ul>
  <li>Implement scientific workflow management systems (WfMS) (NSF funded project)</li>
  <li>Develop several GIS dashboards and web applications using ArcGIS Online tools (USDA funded project)</li>
  <li>Implement a novel GIS-based Risk framework for hazmat transportation</li>
</ul>

<h3>Geospatial Engineer</h3>
<p>GIS Department of Isfahan Municipality ICT Org., Sep 2016 - Jun 2021</p>
<ul>
  <li>Geodatabase Administrator </li>
  <li>Managed and supervised mapping and surveying projects</li>
  <li> Managed a GPS Network-RTK System</li>
  <li>Provided technical support for all aspects of geospatial data and software</li>
</ul>

<h3>Cadastral Surveyor</h3>
<p>Isfahan Construction Engineering Org., Dec 2016 - Jun 2021 </p>
<ul>
  <li>Subdivision of land parcels, units, apartments, shops, and commercial buildings</li>
  <li>Land and boundary surveying, establishing GPS control point</li>
</ul>

<h3>Chief Surveyor</h3>
<p>Karaneh Sazan Construction Engineering Co., Jun 2014 - Sep 2016 </p>
<ul>
  <li>Led a surveying team for rail installation in a tunnel for subway</li>
  <li>Implemented a precise leveling network and planimetric traverse</li>
  <li>Provided technical support for surveying aspects of construction</li>
</ul>


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

