---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<h2>Graduate Research Assistant</h2>
<ul>
  <li><strong>Scientific workflow management systems (WfMS)</strong>, Description, 2024-2025 </li>
  <li><strong>USDA Project</strong>, Description, 2022-2024 </li>
</ul>

<h2>Geospatial Engineer</h2>
<ul>
  <li><strong>GeoDataBase Administrator</strong>, Description, 2016-2021 </li>
  <li><strong>Network RTK-GNSS System Administrator</strong>, Description, 2017-2021 </li>
  <li><strong>Mapping projects Manager</strong>, Description, 2018-2021 </li>
</ul>

<h2>Geomatics and Land Surveying</h2>
<ul>
  <li><strong>Cadastarl Surveying</strong>, Isfahan Construction Engineering Org., 2016-2021 </li>
  <li><strong>Chief Surveyor in rail installation subway construction projectr</strong>, Karaneh Sazan Construction Engineering Co., 2014-2016 </li>
</ul>


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

