---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<h2>Teaching Experience</h2>
<ul>
  <li><strong>Teaching Assistant</strong>, Oklahoma State University, Department of Geography (Aug 2021–May 2022)
    <ul>
      <li>GIS: Socioeconomic Applications</li>
      <li>UAV Applications</li>
      <li>Remote Sensing</li>
      <li>Mapping in Modern Societies</li>
      <li>Digital Tools for Environmental Problem-Solving</li>
    </ul>
  </li>
  
  <li><strong>Lecturer</strong> Mohajer Technical University of Isfahan, Iran (Sep 2016–Jun 2017)
    <ul>
      <li>Astronomical Geodesy</li>
      <li>Photogrammetry</li>
    </ul>
  </li>


  
</ul>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
