---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<ul>
  <li><strong>Robert E. Norris Conference Travel Award </strong>, Department of Geography, Oklahoma State University (FAA)</li>
  <li><strong>Regional Scholarship Graduate Winner</strong>, South Central Arc Users Group</li>
  <li><strong>1st place Best Poster Award </strong>, 24th Southwest Division of AAG annual conference</li>
</ul>

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
